.main_background {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding-top: 10rem;
}

.content_section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.todo_form {
  width: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  border-radius: 0.25rem;
  box-shadow: 0px 0.2rem 0.5rem 0.25rem rgba(0, 0, 0, 0.2);

  background-color: #fff;
}

.todo_input {
  width: 100%;
}

.todo_submit_button {
  width: 3rem;
  flex-shrink: 0;
}

.todo_container {
  width: 20rem;
  min-height: 24rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0.2rem 0.5rem 0.25rem rgba(0, 0, 0, 0.2);

  padding: 1rem;

  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 0.5rem;
}

.todo {
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__label {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todo__label__checkbox {
  margin-top: 0.15rem;
}

.todo__remove_button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.todo__done {
  color: rgba(0, 0, 0, 0.2);
}
